<div class="imdb-item">
  <div class="imdb-item__image">{{ image }}</div>
  <div class="imdb-item__info">
    <div class="imdb-item__title">{{ title }}</div>
    <div class="imdb-item__description">{{ description }}</div>
  </div>
</div>
